<launch>
  <node pkg = "assignment_5" type = "motion_mode_keyboard" name = "motion_mode_keyboard"
    output="screen" launch-prefix="gnome-terminal -e" />
  <node pkg = "assignment_5" type = "motion_detector" name = "motion_detector"
    output="screen" launch-prefix="gnome-terminal -e" />
</launch>
